
.container {
	background:#d9d9d9;
	margin-top:30px;
	width:80%;
}

#contact_form {
	background:#d9d9d9;
	border:none;
}
legend {
	border:none;
}
.btn-warning {
	background-color:black;
	color:white;
	border:1px solid black;
}

.btn-warning:hover {
	
	background-color:lightgray;
	border:1px solid black;
	color:black;
}
